

#owl .item img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.image_desc{
    /*Positioning*/
   position: absolute;
   bottom: 0px;
   left: 0;
   width: 100%;
   text-align: left;
    /*Styling*/
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
    margin-top: -15px;
}

.image_desc .heading{
    border-bottom: 1px solid #e7e7e7 ;
}


#news-tip{
    padding: 6px;
    color: #ffffff;
    text-align: left;
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid #e6e6e6;
    border-radius: 4px;

}

#news-header{
    width: 180px;
    padding: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #337cbb;
    border-radius: inherit;
}

#about-us{
    border: 1px solid #e6e6e6;
    width: 98%;
    height: 35%;
    color: #080808;
    text-align: center;
}

#tree {
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

#tree li{
    border-bottom: 1px solid #e7e7e7;
}

#tree li:last-child{
    border-bottom: none;
}

.blog a{
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
	/*color:#333;*/
}

.blog a:hover {
	text-decoration: none;
	/*color:#eee;*/
	}

.btn-primary {
    padding: 8px 20px;
    background:  #337cbb;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

#right-column #blog-archieve{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#right-column #blog-archieve li{
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;

}

#right-column #blog-archieve li:first-child{
    padding-top: 0;
}

#right-column #blog-archieve li:last-child{
    margin-bottom: 35px;
}

#right-column #blog-archieve a:hover{
    text-decoration: none;
}

#right-column #blog-archieve li:last-child{
    margin-bottom: 48px;
}

#right-column a:hover{
    text-decoration: none;
}

#right-column #authors{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;

}

#right-column #authors li:last-child{
    margin-bottom: 48px;
}

#right-column h1,
#right-column h2,
#right-column h3,
#right-column h4,
#right-column h5,
#right-column h6
{
    text-transform: uppercase;
}

#right-column .recent-posts li{
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}



#right-column .list-unstyled li:first-child{
    padding-top: 0;
}

#right-column .list-unstyled li:last-child{
    margin-bottom: 48px;
}

#right-column #blog-category{
    list-style: none;
    margin: 0;
    padding: 0;
}

#right-column #blog-category li{
    float: none;
    margin-bottom: 20px;
}

#right-column #blog-category li a{
    background: #f5f5f5;
    border-radius: 4px;
    color: #888;
    display: inline-block;
    padding: 5px 15px;
}

#right-column #blog-category li a:hover{
    background:#337cbb;
    color: #fff;
}

#right-column .badge:before{
    border-color: transparent transparent transparent #337cbb;
    border-style: solid;
    border-width: 10px;
    bottom: -8px;
    content: "";
    height: 0;
    left: 5px;
    position: absolute;
    z-index: -99999;
}

#right-column .badge{
    background-color: #337cbb;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    position: relative;
    left: 60px;
    top: -18px;
    font-weight: normal;
}
#right-column #blog-category li:last-child{
    margin-bottom: 48px;
}

